<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
    <mdl-tabs mdl-ripple mdl-tab-active-index="0">
      <mdl-tab-panel mdl-tab-panel-title="Inbox">
        <ng-container *ngFor="let item of my_list">
          <ng-container *ngTemplateOutlet="message1; context: {$implicit: item}"></ng-container>
        </ng-container>
      </mdl-tab-panel>
    </mdl-tabs>
  </div>
</div>


<!--MESSAGE SAMPLES. SHOULD MAKE A COMPONENT WITH A CARD-->
<ng-template #message1 let-item>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop ">
      <img class="image" src="{{item?.photo}}" />
    </div>

    <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop">
      <h5>{{item?.name}}</h5>
      <p class="read-more-wrap">{{item?.whyguide}}</p>
      <p class="read-more-wrap">Phone: {{item?.phone}} -  Email: {{item?.email}}</p>
      <a><label class="read-more-trigger" (click)="downloadResume(item?.id)">Download Resume</label></a>
    </div>

    <div class="card-border">
      <a (click)="changetoGuide(item)" class="button float-right"><i class="material-icons">check_circle</i></a>
      <a (click)="deleteConfirmation(item)" class="button float-right"><i class="material-icons">delete</i></a>
    </div>
  </div>
</ng-template>


