<div [hidden]="show_form" class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
    <mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
    <mdl-tab-panel mdl-tab-panel-title="All">
      <ng-container *ngTemplateOutlet="table"></ng-container>
    </mdl-tab-panel>
  
    <mdl-tab-panel *ngFor="let cat of plan_category_tab" mdl-tab-panel-title="{{cat.name}}">
      <ng-container *ngTemplateOutlet="table;"></ng-container>
    </mdl-tab-panel>
    </mdl-tabs>
  </div>
</div>


<!--TABLE. SHOULD MAKE A COMPONENT -->
<ng-template #table>
  <table>
    <thead>
      <tr>
        <th scope="col">Pending Plan</th>
        <th scope="col" style="width:150px;">Action</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</ng-template>


<div [hidden]="show_form" class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
<div *ngFor="let item of my_list" class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">
  <mdl-card class="app-card-square" mdl-shadow="2">
    <mdl-card-title mdl-card-expand [ngStyle]="{ 'background':'url(' + item.image +  ')  center center / cover no-repeat '}">
      <h2 mdl-card-title-text>
        {{item.title}}
      </h2>
    </mdl-card-title>

    <mdl-card-supporting-text>
      <div class="plan-info grid-100">
        <div class="grid-100">
          <p class="title">{{item.title}}</p>
        </div>

        <div class="grid-100">
          <div class="grid-40">
            <p>GUIDE: </p>
          </div>
          <div class="grid-60 text-right">
            <p class="guide">{{item.guide}}</p>
          </div>
        </div>

        <div class="grid-100">
          <div class="grid-60">
            <p class="rate">
              <i *ngFor="let star of item?.rate?.stars" class="material-icons">{{star}}</i>
            </p>
          </div>
          <div class="grid-20">
            <p class="rate">({{item.rate?.average}})</p>
          </div>
          <div class="grid-20">
            <p class="rate"><i class="material-icons">person</i>+{{item.rate?.numVotes}}</p>
          </div>
        </div>

        <div class="grid-100">
          <div class="grid-70">
            <p>Administrative fee: </p>
          </div>
          <div class="grid-30 text-right">
            <p class="fee">${{item.fee}}</p>
          </div>
        </div>

        <div class="grid-100">
          <div class="grid-70">
            <p>Extra costs suggested: </p>
          </div>
          <div class="grid-30 text-right">
            <p class="cost">${{item.cost}}</p>
          </div>
        </div>
      </div>
    </mdl-card-supporting-text>

    <mdl-card-supporting-text class="card-border">
      <div class="plan-info grid-100">
        <div class="grid-100">
          <div class="grid-40">
            <p>Adress: </p>
          </div>
          <div class="grid-60 text-right">
            <p class="adress">{{item.adress}}</p>
          </div>
        </div>

        <div class="grid-100">
          <div class="grid-100">
            <p>Description: </p>
          </div>
          <div class="grid-100 text">
            <p class="adress">{{item.descriptionShort}}</p>
          </div>
        </div>
      </div>
    </mdl-card-supporting-text>

    <mdl-card-supporting-text class="card-border">
      <div class="plan-info grid-100">
        <div class="grid-100">
          <div class="grid-100">
            <p>TIME TO JOIN: </p>
          </div>
        </div>

        <div class="grid-100">
          <div class="grid-50">
            <p><i class="material-icons">access_time</i>{{item.startingTime}} - {{item.endingTime}}</p>
          </div>
          <div class="grid-50 text-right">
            <p class="adress">{{item.date}}</p>
          </div>
        </div>
      </div>
    </mdl-card-supporting-text>

    <mdl-card-actions class="text-right" mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple (click)="approveObject(item)" [disabled]="isguide">
        {{btnApprove}}
      </button>
      <button class="secondary-background secondary-background-hover" mdl-button mdl-colored mdl-ripple (click)="rejectObject(item)" [disabled]="isguide">
        {{btnReject}}
      </button>
    </mdl-card-actions >
    
  </mdl-card>
</div>
</div>



