<div [hidden]="show_form" class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
		<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
		  <mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
			<mdl-tab-panel mdl-tab-panel-title="All">
			  <ng-container *ngTemplateOutlet="table"></ng-container>
			</mdl-tab-panel>
	  
			<mdl-tab-panel *ngFor="let cat of plan_category_tab" mdl-tab-panel-title="{{cat.name}}">
			  <ng-container *ngTemplateOutlet="table;"></ng-container>
			</mdl-tab-panel>
		  </mdl-tabs>
		</div>
	  </div>

<div [hidden]="show_form" class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
	<div *ngFor="let item of my_list" class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">
		<mdl-card class="app-card-square" mdl-shadow="2">
			<mdl-card-title mdl-card-expand [ngStyle]="{ 'background':'url(' + item.image +  ')  center center / cover no-repeat '}">
				<h2 mdl-card-title-text>
					{{item.title}}
				</h2>
			</mdl-card-title>

			<mdl-card-supporting-text>
				<div class="plan-info grid-100">
					<div class="grid-100">
						<p class="title">{{item.title}}</p>
					</div>

					<div class="grid-100">
						<div class="grid-40">
							<p>GUIDE: </p>
						</div>
						<div class="grid-60 text-right">
							<p class="guide">{{item.guide}}</p>
						</div>
					</div>

					<div class="grid-100">
						<div class="grid-60">
							<p class="rate">
								<i *ngFor="let star of item?.rate?.stars" class="material-icons">{{star}}</i>
							</p>
						</div>
						<div class="grid-20">
							<p class="rate">({{item.rate?.average}})</p>
						</div>
						<div class="grid-20">
							<p class="rate"><i class="material-icons">person</i>+{{item.rate?.numVotes}}</p>
						</div>
					</div>

					<div class="grid-100">
						<div class="grid-70">
							<p>Administrative fee: </p>
						</div>
						<div class="grid-30 text-right">
							<p class="fee">${{item.fee}}</p>
						</div>
					</div>

					<div class="grid-100">
						<div class="grid-70">
							<p>Extra costs suggested: </p>
						</div>
						<div class="grid-30 text-right">
							<p class="cost">${{item.cost}}</p>
						</div>
					</div>
				</div>
			</mdl-card-supporting-text>

			<mdl-card-supporting-text class="card-border">
				<div class="plan-info grid-100">
					<div class="grid-100">
						<div class="grid-40">
							<p>Adress: </p>
						</div>
						<div class="grid-60 text-right">
							<p class="adress">{{item.adress}}</p>
						</div>
					</div>

					<div class="grid-100">
						<div class="grid-100">
							<p>Description: </p>
						</div>
						<div class="grid-100 text">
							<p class="adress">{{item.descriptionShort}}</p>
						</div>
					</div>
				</div>
			</mdl-card-supporting-text>

			<mdl-card-supporting-text class="card-border">
				<div class="plan-info grid-100">
					<div class="grid-100">
						<div class="grid-100">
							<p>TIME TO JOIN: </p>
						</div>
					</div>

					<div class="grid-100">
						<div class="grid-50">
							<p><i class="material-icons">access_time</i>{{item.startingTime}} - {{item.endingTime}}</p>
						</div>
						<div class="grid-50 text-right">
							<p class="adress">{{item.date}}</p>
						</div>
					</div>
				</div>
			</mdl-card-supporting-text>

			<mdl-card-actions class="text-right" mdl-card-border>
				<button class="primary-background primary-background-hover" mdl-button mdl-colored mdl-ripple (click)="viewObject(item)">
					{{btnEdit}}
				</button>
			</mdl-card-actions >
			
		</mdl-card>
	</div>
</div>


<!-- NEW/EDIT -->
<div [hidden]="!show_form">
	<mat-card class="card">
		<mat-card-content>
			<form class="example-form">
				<mat-grid-list cols="2" rowHeight="70px">
					<mat-grid-tile>
						<mat-form-field class="formfields sup">
							<input matInput type="text" [(ngModel)]="object.title" placeholder="Title" name="title" autofocus>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields sup">
							<input matInput type="text" [(ngModel)]="object.category" placeholder="Category" name="category">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput [(ngModel)]="object.location" placeholder="Location" name="location" type="text">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput [(ngModel)]="object.adress" placeholder="Address" name="adress" type="text">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput type="text" [(ngModel)]="object.descriptionShort" placeholder="Description Short" name="descriptionShort">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput [(ngModel)]="object.descriptionLong" placeholder="Description Long" name="descriptionLong" type="text">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput type="text" [(ngModel)]="object.maxAsisstant" placeholder="Max Assistants" name="maxAsisstant">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput [(ngModel)]="object.cost" placeholder="Cost" name="cost" type="text">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput [(ngModel)]="object.fee" placeholder="Fee" name="fee" type="text">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" [(ngModel)]="object.date">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>								  
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput atp-time-picker [(ngModel)]="object.startingTime" placeholder="Starting Time" name="startingTime" type="time" arrowStyle="{'background': '#38B9C3', 'color': 'white'}"/>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<input matInput atp-time-picker [(ngModel)]="object.endingTime" placeholder="Ending Time" name="endingTime" type="time" arrowStyle="{'background': '#38B9C3', 'color': 'white'}"/>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field class="formfields">
							<mat-select placeholder="Guide" name="guide" [(ngModel)]="object.guide">
								<mat-option value="" disabled>Select Guide</mat-option>
								<mat-option *ngFor="let g of my_guides" [value]="g.name + g.lastName">{{g.name}} {{g.lastName}}</mat-option>
							</mat-select>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
					<div class="formfields">
						<label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
						<i class="material-icons">file_upload</i>
						<input id="file_input_file" class="none" type="file" (change)="detectFiles($event)"/>
						</label>
						<mat-form-field class="file_input_text"> 
						<input matInput disabled readonly placeholder="Photo" [ngModel]="fileName" name="file" type="text">
						</mat-form-field> 
					</div>
					</mat-grid-tile>
				</mat-grid-list>            
			</form>  
			<div class="btncontainer">
			<button mat-raised-button class="btn" *ngIf="editing" (click)="deleteConfirmation(object,object.name + ' ' + object.lastName)" >
				{{btnDelete}}
			</button>
	
			<button mat-raised-button class="btn" (click)="cancel()">
				{{btnCancel}}
			</button>
	
			<button mat-raised-button class="btn" (click)="createObject()">
				{{btnSaveObject}}
			</button>
	
			</div>
		</mat-card-content>
	</mat-card>
</div>


<button [hidden]="show_form" id="add-fixed_btn" mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple (click)="addObject()">
	<mdl-icon>add</mdl-icon>
</button>


<div *ngIf="currentUpload && currentUpload.progress < 100" class="bottom-notification">
		
	<div class="card-panel teal">
	<div class="progress">
		<div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
	</div>
	<span class="color-white">
			Uploading Photo: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
		</span>
	</div>
</div>