<mdl-layout-header-row>

  <mdl-layout-title [hidden]="is403">{{pageTitle}}</mdl-layout-title>

  <mdl-layout-spacer></mdl-layout-spacer>

  <mdl-textfield type="text" icon="search" [hidden]="is403"></mdl-textfield>

  <button mdl-button="mdl-button" #navbarmenubtn="mdlButton" (click)="navbarmenu.toggle($event, navbarmenubtn)" mdl-button-type="icon" mdl-ripple="mdl-ripple">
    <mdl-icon>more_vert</mdl-icon>
  </button>

  <mdl-menu #navbarmenu="mdlMenu" mdl-menu-position="bottom-right"> 
    <mdl-menu-item (click)="logout()" mdl-ripple="mdl-ripple">Sign out</mdl-menu-item>
    <mdl-menu-item mdl-ripple="mdl-ripple" [hidden]="is403">Contact</mdl-menu-item>
    <mdl-menu-item mdl-ripple="mdl-ripple" [hidden]="is403">Legal information</mdl-menu-item>
  </mdl-menu>
</mdl-layout-header-row>


    
    

